<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Class1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Class1.Properties.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="CellColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="X10CellColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="GridLineColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="SizeArrayX" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SizeArrayY" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Timer" serializeAs="String">
                <value>20</value>
            </setting>
        </Class1.Properties.Settings>
    </userSettings>
</configuration>